@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Grifter Bold';
		src: url('assets/fonts/grifterbold.otf') format('opentype');
	}

	html {
		font-family: "Poppins", system-ui, sans-serif;
	}
}

@layer utilities {
	#nav-menu {
		@apply flex items-center gap-5;
	}

	#nav-menu li a {
		@apply text-black transition font-semibold text-base hover:text-black/75;
	}
}

